<div style="background: #3E454C; min-height: 100vh;" ng-controller="ApplyController">
  <div class="overlay"></div>
  <section class="animated slideInUp thankyou">
    <h2 style="text-align: center">{{appFormMessage}}</h2>
    <a class="btn btn-join" href="/">Return Home</a>
  </section>
  <form id="applyForm" class="col-md-12" ng-submit="sendApplication()" novalidate>

    <h1 style="color: #fff; text-align: center">Hack Ridge Registration</h1>
      <div>
        <h4>Basic Information</h4>
        <section id="app-page-0">
          <p style="color: #fff">Student Info</p>
          <input required name="firstname" type="text" ng-model="applicationData.fname" class="required" placeholder="first name"/>
          <input required name="lastname" type="text" ng-model="applicationData.lname" class="required" placeholder="last name"/>
          <input required name="email" type="text" ng-model="applicationData.email" class="required" placeholder="email"/>
          <input required name="school" type="text" ng-model="applicationData.school" class="required" placeholder="school"/>
          <p style="color: #fff">Parent/Guardian Info</p>
          <input required name="parentfirstname" type="text" ng-model="applicationData.pfname" class="required" placeholder="first name"/>
          <input required name="parentlastname" type="text" ng-model="applicationData.plname" class="required" placeholder="last name"/>
          <input required name="emergencynumber" type="tel" ng-model="applicationData.emnum" class="required" placeholder="emergency phone number"/>
        </section>
      </div>


      <div>
        <h4>Logistics</h4>
        <section id="app-page-1">
          <p style="color: #fff">Team Info</p>
          <div class="form-group radio-align app-backdrop">
            <h2>Do you have a team?</h2>
            <input required name="team" type="radio" ng-model="applicationData.team" ng-value="true" class="form-control" style="float:left; height: auto; margin-left: 50px;"><span style="float: left; margin-left: 20px;color: #fff;font-size: 1em">Yes</span>
            <input required name="team" type="radio" ng-model="applicationData.team" ng-value="false" class="form-control" style="float:left; height: auto; margin-left: 50px;"><span style="float: left; margin-left: 20px;color: #fff;font-size: 1em">No</span>
            </table>
          </div>
          <div class="form-group radio-align" ng-if="!applicationData.team">
            <h2>Do you want help finding a team?</h2>
            <input name="teamhelp" required type="radio" ng-model="applicationData.teamhelp" ng-value="true" class="form-control" style="float:left; height: auto; margin-left: 50px;"><span style="float: left; margin-left: 20px;color: #fff;font-size: 1em">Yes</span>
            <input name="teamhelp" required type="radio" ng-model="applicationData.teamhelp" ng-value="false" class="form-control" style="float:left; height: auto; margin-left: 50px;"><span style="float: left; margin-left: 20px;color: #fff;font-size: 1em">No</span>
            </table>
          </div>
          <p>Personal Info</p>
          <input name="experience" required type="text" ng-model="applicationData.experience" class="required" placeholder="hacking/programming experience"/>
          <textarea style="color: #333" name="allergies" ng-model="applicationData.awareness" class="" placeholder="how did you hear about us?"></textarea>
          <textarea style="color: #333" name="allergies" ng-model="applicationData.foodallergies" class="" placeholder="do you have any food allergies?"></textarea>
          <textarea style="color: #333" name="medical" ng-model="applicationData.medical" class="" placeholder="do you have any medical conditions that we should be aware of?"></textarea>
          <div class="select-container">
            <select class="form-control required" ng-model="applicationData.shirtsize" ng-init="applicationData.shirtsize='none'">
              <option style="color: #000" selected value="none">T-Shirt Size</option>
              <option style="color: #000" value="small">Small</option>
              <option style="color: #000" value="medium">Medium</option>
              <option style="color: #000" value="large">Large</option>
              <option style="color: #000" value="xl">XL</option>
              <option style="color: #000" value="xxl">XXL</option>
            </select>
          </div>
        </section>
      </div>


      <div>
        <h4 style="margin-bottom: 25px;">Confirmation</h4>
        <section id="app-page-2">
          <div class="form-group"><label class="checkbox-inline"><input name="mlhcoc" required type="checkbox" class="form-control required" ng-model="applicationData.mlhcoc"/>I agree to the Major League <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Hacking Code of Conduct</a></label></div>
          <div class="form-group"><label class="checkbox-inline"><input name="mlhterms" required type="checkbox" class="form-control required" ng-model="applicationData.mlhterms"/>I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</label></div>
          <div class="form-group"><label class="checkbox-inline"><input name="hrmedia" required type="checkbox" class="form-control required" ng-model="applicationData.hrmedia"/>I consent to the Hack Ridge's <a href="https://docs.google.com/document/d/166KIv-P-X8p_dtGz6IZ34CtKM6lPVk9Ecf90HOftluY/edit?usp=sharings" target="_blank">Media Release Form</a></label></div>
          <div class="form-group"><label class="checkbox-inline"><input name="hrliability" required type="checkbox" class="form-control required" ng-model="applicationData.hrliability"/>I consent to Hack Ridge's <a href="https://docs.google.com/document/d/1ilG5H9S2ffsMuaeALpHmjCZFh29ywz1M2HWiIYxT_4s/edit?usp=sharing" target="_blank">Release of Liability</a></label></div>

          <h2 ng-repeat="msg in appWarnings" class="app-warnings">{{msg}}</h2>
          <button type="submit" name="submit" class="btn">Send</button>
        </section>
      </div>


    </div>

  </form>
</div>
