<div style="background: #3E454C; min-height: 100vh;">
  <form id="applyForm" class="col-md-12" ng-submit="sendApplication()" name="applicationForm" novalidate>

    <h1 style="color: #fff; text-align: center">Hack Ridge Registration</h1>

    <div id="appCarousel" class="carousel slide" data-ride="carousel" data-interval="false">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>Basic Information</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-0">
          <input required type="text" ng-model="applicationData.fname" class="required" placeholder="first name"/>
          <input required type="text" ng-model="applicationData.lname" class="required" placeholder="last name"/>
          <input required type="text" ng-model="applicationData.email" class="required" placeholder="email"/>
          <input required type="text" ng-model="applicationData.school" class="required" placeholder="school"/>
          <div class="select-container">
            <select class="form-control required">
              <option disabled selected>T-Shirt Size</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="xl">XL</option>
              <option value="other">Other</option>
            </select>
          </div>
        </section>
      </div>
      <div class="item">
        <h4>Team Information</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-1">
          <div class="form-group" class="val-this">
            <h2>Do you have a team?</h2>
            <div class="form-group"><label class="radio-inline"><input required type="radio" class="form-control" ng-model="applicationData.team"/ ng-value="true">Yes</label></div>
            <div class="form-group"><label class="radio-inline"><input required type="radio" class="form-control" ng-model="applicationData.team"/ ng-value="false">No</label></div>
          </div>
          <div class="form-group" ng-if="applicationData.team">
            <input required type="text" ng-model="applicationData.teamname" class="required" placeholder="team name"/>
            <input required type="number" ng-model="applicationData.teamsize" class="required" placeholder="Number of Team Members"/>
            <textarea ng-model="applicationData.members" class="" placeholder="please list member names here"/>
          </div>
        </section>
      </div>
      <div class="item">
        <h4>Logistics</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-2">
          <input required type="text" ng-model="applicationData.experience" class="required" placeholder="hacking experience"/>
          <textarea ng-model="applicationData.foodallergies" class="" placeholder="food allergies"></textarea>
        </section>
      </div>
      <div class="item">
        <h4>Confirmation</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-3">
          <div class="form-group"><label class="checkbox-inline"><input required type="checkbox" class="form-control required" ng-model="applicationData.mlhcoc"/>I agree to the Major League <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Hacking Code of Conduct</a></label></div>
          <div class="form-group"><label class="checkbox-inline"><input required type="checkbox" class="form-control required" ng-model="applicationData.mlhterms"/>I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</label></div>

          <h2 ng-repeat="msg in appWarnings" class="app-warnings">{{msg}}</h2>
          <button type="submit" class="btn">Send</button>
        </section>
      </div>
    </div>

    <!-- Controls -->

  </div>

    <div class="app-pagination">
      <img src="/img/icons/left-arrow.svg" style="float: left" ng-click="decPage()"/>
      <p style="float: left; margin-left: 5%; color: #fff">Back</p>
      <img src="/img/icons/right-arrow.svg" style="float: right" ng-click="incPage()"/>
      <p style="float: right; margin-right: 5%; color: #fff">Next</p>
    </div>

  </form>
</div>
