<div class='row'>
  <div class='qfaq col-md-4 col-md-offset-2'>
    <h1>What is a hackathon?</h1>
    <p>A hackathon is where makers and innovators join together from around the world to turn ideas into reality. At Hack Rigde, we encourage you to be creative and make something you're passionate about!</p>
  </div>

  <div class='qfaq col-md-4'>
    <h1>Who can come?</h1>
    <p>Anyone that is a senior in high school or younger is welcome to attend. If you have concerns about being too young, don't worry! Just contact us!</p>
  </div>
</div>

<div class='row'>
  <div class='qfaq col-md-4 col-md-offset-2'>
    <h1>What if I can't code?</h1>
    <p>Hack Ridge invites programmers, electronics-nuts, artists, designers, and anyone else willing to make something new, learn a new skill, or simply have a fun time! Workshops will be available to learn how to make specific games if you wish to learn!</p>
  </div>

  <div class='qfaq col-md-4'>
    <h1>Do I seriously have to work for 24 hours?</h1>
    <p>No! We will be hosting fun code-breaks all through the night! From capture-the-flag Nerf wars to a mignight volleyball tourney, we will be sure not to dissapoint!</p>
  </div>
</div>

<div class='row'>
  <div class='qfaq col-md-4 col-md-offset-2'>
    <h1>What if I don't have a team?</h1>
    <p>No worries! Join our forums to find teammates or just simply whow up. We will make sure you have a team to work with and plenty of ideas to choose from!</p>
  </div>

  <div class='qfaq col-md-4'>
    <h1>What should I bring?</h1>
    <p>Make sure to bring a photo ID, a change of clothes, and something to work on! We suggest a laptop, chargers, and an original idea.</p>
  </div>
</div>

<div class='row'>
  <div class='qfaq col-md-4 col-md-offset-2'>
    <h1>How much does it cost?</h1>
    <p>Zip! Zero! Zulch! Hack Ridge is absolutely, positively free! You supply the ideas and we will supply for you. Food and activities will be on the house, but feel free to bring up to $20 for a Hack Ridge t-shirt to support Maine South's Computer Science Club!</p>
  </div>

  <div class='qfaq col-md-4'>
    <h1>What if I have other questions?</h1>
    <p>Just send the "on the line". Try using our contact form or send us an email at info@hackridge.com and we'll try to respond promptly!</p>
  </div>
</div>
