<div ng-controller="LandingController" class='container'>
    <img class='mlh' src='/img/mlh.png'>
    <section class='full' style='height: 1000px'>
        <img src='/img/hackridge.png' style='height: 100px;'>
        <h1>Join us!</h1>
    </section>

    <section class='about container'>
        <div class='section-heading'>
            <h1>This is Hack//Ridge 2017.</h1>
        </div>
        <div class='section-content col-md-8 col-md-offset-2 text-center'>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus urna arcu, eget semper neque interdum ac. Sed ac velit ac lorem molestie suscipit. Mauris id leo in nunc pellentesque ullamcorper nec in mauris. Quisque ac consequat libero, vitae pellentesque nisi. Maecenas nec ante ac quam finibus suscipit et vel diam. Curabitur ex sem, scelerisque at molestie blandit, dapibus ac libero. Phasellus porttitor leo pulvinar dolor ornare posuere. Proin aliquam sed risus vitae tempus.</h4>
        </div>
    </section>

    <section class='register container'>
        <div class='section-heading'>
            <h1>Register!</h1>
            <p>Registration isn't open yet. Signup to get email updates below.</p>
        </div>
        <div class='section-content col-md-10 col-md-offset-1'>
            <h5>

        </div>
    </section>
    <section class='faq container'>
        <div class='section-heading'>
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class='section-content col-md-8 col-md-offset-2'>
            <row>
                <div class='col-md-8 col-md-offset-2 text-center'>
                    <h3>What is a hackathon?</h3>
                    <p>A hackathon is where makers and innovators join together from around the world to turn ideas into reality. At Hack Rigde, we encourage you to be creative and make something you're passionate about!</p>
                </div>
            </row>
            <row>
                <div class='col-md-6'>
                    <h3>Who can come?</h3>
                    <p>Anyone that is a senior in high school or younger is welcome to attend. If you have concerns about being too young, don't worry! Just contact us!</p>

                    <h3>What if I can't code?</h3>
                    <p>Hack Ridge invites programmers, electronics-nuts, artists, designers, and anyone else willing to make something new, learn a new skill, or simply have a fun time! Workshops will be available to learn how to make specific games if you wish to learn!</p>

                    <h3>Do I seriously have to work for 24 hours?</h3>
                    <p>No! We will be hosting fun code-breaks all through the night! From capture-the-flag Nerf wars to a mignight volleyball tourney, we will be sure not to dissapoint!</p>

                </div>
                <div class='col-md-6'>
                    <h3>What if I don't have a team?</h3>
                    <p>No worries! Join our forums to find teammates or just simply whow up. We will make sure you have a team to work with and plenty of ideas to choose from!</p>

                    <h3>What should I bring?</h3>
                    <p>Make sure to bring a photo ID, a change of clothes, and something to work on! We suggest a laptop, chargers, and an original idea.</p>


                    <h3>How much does it cost?</h3>
                    <p>Zip! Zero! Zulch! Hack Ridge is absolutely, positively free! You supply the ideas and we will supply for you. Food and activities will be on the house, but feel free to bring up to $20 for a Hack Ridge t-shirt to support Maine South's Computer Science Club!</p>


                </div>
            </row>
            <row>
                <div class='col-md-8 col-md-offset-2 text-center'>
                    <h3>What if I have other questions?</h3>
                    <p>Just send the "on the line". Try using our contact form or send us an email at info@hackridge.com and we'll try to respond promptly!</p>
                </div>
            </row>

        </div>
    </section>
    <section class='sponsors container'>
        <div class='section-heading'>
            <h1>Sponsors</h1>
        </div>
        <div class='section-content col-md-8 col-md-offset-2'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus urna arcu, eget semper neque interdum ac. Sed ac velit ac lorem molestie suscipit. Mauris id leo in nunc pellentesque ullamcorper nec in mauris. Quisque ac consequat libero, vitae pellentesque nisi. Maecenas nec ante ac quam finibus suscipit et vel diam. Curabitur ex sem, scelerisque at molestie blandit, dapibus ac libero. Phasellus porttitor leo pulvinar dolor ornare posuere. Proin aliquam sed risus vitae tempus.

Proin eu ipsum vitae ligula pellentesque ultricies. Mauris quis euismod tortor. Quisque lobortis suscipit ullamcorper. Proin quis luctus sapien, sed dictum lacus. Etiam efficitur neque sed tellus tempus varius. Praesent sed vulputate massa. Donec sed purus ac urna dictum maximus. Morbi efficitur justo sit amet mi tempor consectetur. Cras eget aliquam felis. Nullam quis sollicitudin felis, ac suscipit nisi. Aliquam vel nibh mattis, finibus ex sit amet, gravida augue. Mauris sed nunc in nulla ullamcorper mollis sed ut nulla.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam gravida facilisis erat et tristique. Proin scelerisque nunc sed aliquet fermentum. Sed commodo ante ac scelerisque fermentum. Fusce congue tempor faucibus. Sed pulvinar diam turpis, at eleifend felis condimentum vitae. Sed turpis augue, mattis pretium elementum ut, porttitor ut erat. Sed ut massa sem.

Praesent justo ex, fringilla facilisis quam non, dignissim hendrerit mauris. Praesent tincidunt malesuada tortor, venenatis blandit arcu. Ut pharetra risus sit amet odio volutpat vulputate. Sed aliquet nulla non arcu maximus ultricies. Fusce rhoncus sapien at faucibus tempor. Etiam purus augue, finibus et quam at, elementum finibus turpis. Integer aliquet magna nec tristique rutrum. In euismod velit neque, a dapibus diam scelerisque eu. Nullam nec tellus volutpat, luctus ante ac, convallis nibh. Quisque elementum rutrum lacus sed maximus. Sed et ex sem.</p>
        <div>
    </section>
</div>
