<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row" id="launch">
                <div class="col-md-8 col-md-offset-2">
                    <div class="logo-container">
                      <h1 class="animated slideInLeft brand-heading" id="title">Hack//Ridge</h1>
                      <h1 class='animated slideInRight' id="date">March 4th</h1>
                      <img class='animated zoomIn logo' src="/img/optimized/logo-spaced.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Countdown Section -->
<section id='countdown' class='container text-center' ng-controller='CountdownController'>
    <div class='row'>
        <div class='col-md-12'>
            <h3>Hacking begins in...</h3>
            <h2>{{countdown}}</h2>
        </div>
    </div>
</section>

<!-- About Section -->
<div class="glow-wrapper"><div class="glow"></div></div>
<section id="about" class="container text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>We are Hack//Ridge.</h2>
            <p>On Saturday March 4, join the most innovative people you'll ever meet for 24 exhilerating hours of caffinated hacking in Park Ridge, IL. We bring together high school students to build the coolest hardware and software projects in Chicago. <b>Hack//Ridge</b> is the place for you to express your creativity, ingenuity, and determination to create anything you want to.</p>
            <p ng-click="toggleemail()" style="cursor: pointer;">Interested in becoming a <b>Hack//Ridge</b> sponsor?</p>
        </div>
    </div>
</section>

<!-- Schedule Section -->
<section id='schedule' class='container text-center'>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h2>Schedule</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-5 col-md-offset-1'>
            <h3 class='text-center'>Saturday, March 4</h3>
            <p><b>12:00 PM</b>  Hacking Begins</p>
        </div>
        <div class='col-md-5'>
            <h3>Sunday, March 5</h3>
            <p><b>12:00 PM</b>  Hacking Ends</p>
        </div>
    </div>
    <br>
    <h5>More information coming soon...</h5>
</section>

<!-- FAQ Section -->
<section data-aos="fade-up" id='faq' class='container' ng-controller='FAQController'>
    <h2 class='text-center'>FAQ</h2>
    <div class='row'>
        <div class='col-md-5 col-md-offset-1'>
            <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class='card' ng-repeat="pair in data" ng-if='$index % 2 == 0'>
                <div class='card-header text-center clearfix' id='q{{$index}}' ng-click="collapse('#q'+$index+'_ans')">
                    <h5 class='pull-left'>{{pair.question}}<h5>
                    <i class="btn-faq pull-right fa fa-chevron-down" aria-hidden="true" style='font-size: 20px'></i>
                </div>
                <div class='card-content' style='display:none' id='q{{$index}}_ans'>
                    <p>{{pair.answer}}</p>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class='card' ng-repeat="pair in data" ng-if='$index % 2 == 1'>
                <div class='card-header text-center clearfix' id='q{{$index}}' ng-click="collapse('#q'+$index+'_ans')">
                    <h5 class='pull-left'>{{pair.question}}<h5>
                    <i class="btn-faq pull-right fa fa-chevron-down" aria-hidden="true" style='font-size: 20px'></i>
                </div>
                <div class='card-content' style='display:none' id='q{{$index}}_ans'>
                    <p>{{pair.answer}}</p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class='text-center' style='margin-top:45px;'>
        <h3>Have any other questions?</h3>
        <h4>Feel free to shoot us an email at info@hackridge.io</h4>
    </div>
</section>

<!-- Location Section -->
<section id='location' class='container text-center'>
    <h2 class='text-center'>Location</h2>
    <p><b>Hack//Ridge</b> is held at Maine South High School. More information about check-in coming soon.</p>
    <div class="map-overlay" ng-click="mapClick()" ng-if="!mapClickability"></div>
    <iframe data-aos="zoom-in" data-aos-delay='200' width="90%" height="400px"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC4o3Lx7_ycl1fg-Y8NDilas_ZsruAONGQ&q=Maine+South" allowfullscreen>
    </iframe>
</section>

<!-- Application Section -->
<section id="apply" ng-controller="ApplyController">
<div style="background: #3E454C; min-height: 100vh;">
  <form id="applyForm" class="col-md-12" ng-submit="sendApplication()" name="applicationForm" novalidate>

    <h1 style="color: #fff; text-align: center">Hack Ridge Registration</h1>

    <div id="appCarousel" class="carousel slide" data-ride="carousel" data-interval="false">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>Basic Information</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-0">
          <input required type="text" ng-model="applicationData.fname" class="required" placeholder="first name"/>
          <input required type="text" ng-model="applicationData.lname" class="required" placeholder="last name"/>
          <input required type="text" ng-model="applicationData.email" class="required" placeholder="email"/>
          <input required type="text" ng-model="applicationData.school" class="required" placeholder="school"/>
          <div class="select-container">
            <select class="form-control required">
              <option disabled selected>T-Shirt Size</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="xl">XL</option>
              <option value="other">Other</option>
            </select>
          </div>
        </section>
      </div>
      <div class="item">
        <h4>Team Information</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-1">
          <div class="form-group" class="val-this">
            <h2>Do you have a team?</h2>
            <div class="form-group"><label class="radio-inline"><input required type="radio" class="form-control" ng-model="applicationData.team"/ ng-value="true">Yes</label></div>
            <div class="form-group"><label class="radio-inline"><input required type="radio" class="form-control" ng-model="applicationData.team"/ ng-value="false">No</label></div>
          </div>
          <div class="form-group" ng-if="applicationData.team">
            <input required type="text" ng-model="applicationData.teamname" class="required" placeholder="team name"/>
            <input required type="number" ng-model="applicationData.teamsize" class="required" placeholder="Number of Team Members"/>
            <textarea ng-model="applicationData.members" class="" placeholder="please list member names here"/>
          </div>
        </section>
      </div>
      <div class="item">
        <h4>Logistics</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-2">
          <input required type="text" ng-model="applicationData.experience" class="required" placeholder="hacking experience"/>
          <textarea ng-model="applicationData.foodallergies" class="" placeholder="food allergies"></textarea>
        </section>
      </div>
      <div class="item">
        <h4>Confirmation</h4>
        <h2 ng-if="!filled" class="validation-msg">Please complete the required fields!</h2>
        <section id="app-page-3">
          <div class="form-group"><label class="checkbox-inline"><input required type="checkbox" class="form-control required" ng-model="applicationData.mlhcoc"/>I agree to the Major League <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">Hacking Code of Conduct</a></label></div>
          <div class="form-group"><label class="checkbox-inline"><input required type="checkbox" class="form-control required" ng-model="applicationData.mlhterms"/>I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.</label></div>

          <h2 ng-repeat="msg in appWarnings" class="app-warnings">{{msg}}</h2>
          <button type="submit" class="btn">Send</button>
        </section>
      </div>
    </div>

    <!-- Controls -->

  </div>

    <div class="app-pagination">
      <img src="/img/icons/left-arrow.svg" style="float: left" ng-click="decPage()"/>
      <p style="float: left; margin-left: 5%; color: #fff">Back</p>
      <img src="/img/icons/right-arrow.svg" style="float: right" ng-click="incPage()"/>
      <p style="float: right; margin-right: 5%; color: #fff">Next</p>
    </div>

  </form>
  <div ng-if="appFormMessage">
    <h2 class="app-message">{{appFormMessage}}</h2>
  </div>
</div>
</section>


<!-- Sponsor Section -->
<section id='sponsor' class='container text-center'>
    <h2>Sponsor</h2>
    <h5 ng-click="toggleemail()" style="cursor: pointer;">Send us an email</h5>
</section>

<!-- Contact Section -->
<section id="contact" class="container text-center">
    <h2>Contact Us</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>Feel free to email us to offer suggestions and feedback.</p>
            <p><a href="mailto:info@hackridge.io">info@hackridge.io</a></p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/hack_ridge" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/hackridge" class="btn btn-default btn-lg"><i class="fa fa-facebook-f fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="" class="btn btn-default btn-lg" disabled="disabled"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Email Section -->
<div class="overlay fade" ng-if="email" ng-click="toggleemail()"></div>
<section id="email" ng-if="email" class="animated slideInUp ang-slide-out-down">
  <div style="position: relative;"><p ng-click="toggleemail()" class="ex">X</p></div>
<div class="sponsor-lightbox" ng-if="!emailResponse">
  <h2 style="text-align: center">Send Us an Email</h2>
  <div class="row">
  <form id="contactForm" class="col-md-6" ng-submit="sendEmail()">
    <input type="text" ng-model="contactData.fname" class="" placeholder="first name"/>
    <input type="text" ng-model="contactData.lname" class="" placeholder="last name"/>
    <input type="text" ng-model="contactData.email" class="" placeholder="email"/>
    <input type="text" ng-model="contactData.company" class="" placeholder="company"/>
    <textarea ng-model="contactData.message" class="" placeholder="message"></textarea>
    <button type="submit" class="btn">Send</button>
  </form>
  <div id="more-info" class="col-md-6">
    <div class="bar"></div>
    <p>info@hackridge.io</p>
    <br/>
    <p>Maine South High School</p>
    <p>c/o Computer Science Club</p>
    <p>1111 S Dee Rd</p>
    <p>Park Ridge, IL 60068</p>
    <div class="bar"></div>
    <img class="icon" src="/img/icons/fb-icon.svg"/>
    <img class="icon" src="/img/icons/twitter-icon.svg"/>
    <img class="icon" src="/img/icons/insta-icon.svg"/>
    <p style="margin-left: 10px; float: left;">@hackridge</p>
  </div>
</div>
</div>
<h2 style="text-align: center" ng-if="emailResponse">{{emailResponse}}</h2>
</section>
