<div ng-controller="LandingController" class='container'>
  <div class="overlay" ng-if="reg || sp" ng-click="untog()"></div>
  <section class='register container' ng-if="reg || sp">
  	<div class='section-heading'>
  		<h1 ng-if="!(regMessage || sp)">Join our mailing list</h1>
      <h1 ng-if="regMessage && !sp">{{regMessage}}</h1>
      <h1 ng-if="!(spMessage || reg)">Let us know who you are</h1>
      <h1 ng-if="spMessage && !reg">{{regMessage}}</h1>
  	</div>
  	<div class='section-content col-md-8 col-md-offset-2'>
  	   <form ng-submit="register()" ng-if="!(regMessage || sp)"><input required class="form-control" style="width: 78%; float: left" type="text" ng-model="regData.email" placeholder="email"/><button type="submit" style="width: 20%; margin-left: 2%" class="btn btn-primary">Join</button></form>
       <form ng-if="!(spMessage || reg)" ng-submit="sponsor()">
         <input required class="form-control" style="margin-top: 5px;" ng-model="spData.name" type="text" placeholder="name"/>
         <input required class="form-control" style="margin-top: 5px;" ng-model="spData.email" type="text" placeholder="email"/>
         <input required class="form-control" style="margin-top: 5px;" ng-model="spData.company" type="text" placeholder="company"/>
         <input class="form-control" style="margin-top: 5px;" ng-model="spData.phnum" type="tel" placeholder="phone number"/>
         <textarea class="form-control" style="margin-top: 5px;" ng-model="spData.message" placeholder="(optional) message"></textarea>
         <button type="submit" style="width: 80%; margin-left: 10%; margin-top: 10px;" class="btn btn-primary">Submit</button>
       </form>
  	<div>
</section>
	<img class='mlh' src='/img/optimized/mlh.png'>
	<div class="glow-wrapper"><div class='glow'></div></div>
	<div class='circuit'></div>
	<section class='full'>
    <h1 class="hr-title">Hack//Ridge</h1>
		<img src='/img/optimized/HackRidgeLogo.png' class="logo">
    <h1 style="font-family:'Adam CG'; margin-top: 10px;">2017</h1>
    <button ng-click="rtog()" class="btn btn-reg">Join</button>
	</section>
	<section class='about container' id="about" style="padding: 50px; position: relative; z-index: -3">
    <div class="row">
      <div class="col-md-6">
  		    <img class="this-is" src="/img/optimized/thisis.png"/>
      </div>
  		<div class='section-content col-md-6 text-center this-is-content'>
  			<h4>On Saturday March 4, join the most innovative people you'll ever meet for 24 exhilerating hours of caffinated hacking in Park Ridge, IL. We bring together high school students to build the coolest hardware and software projects in Chicago. Hack Ridge is the place for you to express your creativity, ingenuity, and determination to create anything you want.</h4>
  		</div>
    </div>
	</section>
	<section class='faq container' id="faq">
		<div class='section-heading'>
			<h1>Frequently Asked Questions</h1>
		</div>
		<div class='section-content col-md-8 col-md-offset-2'>
			<div class="col-md-6">

					<div class="faq-cell">
						<h3>What is a hackathon?</h3>
						<p>A hackathon is where makers and innovators join together from around the world to turn ideas into reality. At Hack Rigde, we encourage you to be creative and make something you're passionate about!</p>
					</div>

					<div class="faq-cell">
						<h3>Who can come?</h3>
						<p>Anyone that is a senior in high school or younger is welcome to attend. If you have concerns about being too young, don't worry! Just contact us!</p>
					</div>

					<div class="faq-cell">
						<h3>What if I can't code?</h3>
						<p>Hack Ridge invites programmers, electronics-nuts, artists, designers, and anyone else willing to make something new, learn a new skill, or simply have a fun time! Workshops will be available to learn how to make specific games if you wish to learn!</p>
					</div>

					<div class="faq-cell">
						<h3>Do I seriously have to work for 24 hours?</h3>
						<p>No! We will be hosting fun code-breaks all through the night! From capture-the-flag Nerf wars to a mignight volleyball tourney, we will be sure not to dissapoint!</p>
					</div>
      </div>
      <div class="col-md-6">

					<div class="faq-cell">
						<h3>What if I don't have a team?</h3>
						<p>No worries! Join our forums to find teammates or just simply whow up. We will make sure you have a team to work with and plenty of ideas to choose from!</p>
					</div>

					<div class="faq-cell">
						<h3>What should I bring?</h3>
						<p>Make sure to bring a photo ID, a change of clothes, and something to work on! We suggest a laptop, chargers, and an original idea.</p>
					</div>

					<div class="faq-cell">
						<h3>How much does it cost?</h3>
						<p>Zip! Zero! Zulch! Hack Ridge is absolutely, positively free! You supply the ideas and we will supply for you. Food and activities will be on the house, but feel free to bring up to $20 for a Hack Ridge t-shirt to support Maine South's Computer Science Club!</p>
					</div>

				<div class="faq-cell">
					<h3>What if I have other questions?</h3>
					<p>Just send the "on the line". Try using our contact form or send us an email at info@hackridge.com and we'll try to respond promptly!</p>
				</div>
		</div>
</div>
</section>
<section class='sponsors container' style="padding: 100px 0" id="sponsors">
	<button ng-click="stog()" class="btn btn-sp">Sponsor Us</button>
</section>
</div>
