<!-- Team Section -->
<section id='team' class='container text-center'>
    <h2>Meet The Team</h2>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-3'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>Alpri B Else</h4>
            <p class='team-text'>CS Club Co-Founder</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>Joseph Sarmiento</h4>
            <p class='team-text'>CS Club Sponsor</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>Sean Stapleton</h4>
            <p class='team-text'>CS Club Co-Founder</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-3'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-3'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div><br>
    <div class='row'>
        <div data-aos="zoom-in" class='col-md-2 col-md-offset-3'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
        <div data-aos="zoom-in" class='col-md-2'>
            <img src="/img/avatar.png" alt="avatar" class="img-circle team-members">
            <h4 class='team-title' style='margin-top: 20px'>John Smith</h4>
            <p class='team-text'>SPC</p>
        </div>
    </div>
</section>
