body {
  background-color: #111;
}
.section-header {
  font-family: 'Poppins';
  font-size: 3em;
}
#about .section-header, #sponsors .section-header {
  box-shadow: 0 -0.45em 0 rgba(78,150,226,255) inset;
  display: inline-block;
  padding: 0 15px;
}
#faq .section-header {
  text-align: left;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px
}
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
nav a {
  color: #fff;
  font-family: 'Poppins';
  font-size: 1.5em;
  text-decoration: none !important;
}
nav a:hover {
  color: #ddd;
}
.email-signup {
  display: flex;
  width: 40%;
  margin-left: calc(30% + 25px);
}
.email-signup input {
  border-radius: 5px;
  border: 0;
  padding: 15px;
  box-shadow: inset 0 0 5px #222;
  flex: 1;
}
section#sponsors {
  height: initial;
}
section {
  padding: 80px;
}
#about p {
  padding-left: 40px;
}
#about .copy {
  padding: 80px;
  line-height: 2em;
}
#intro {
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 10vh;
}
.logo-med {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: calc(50% - 150px);
}
.logo-white {
  background-image: url("/img/hack_ridge_logo_io_white.svg");
}
.logo-black {
  background-image: url("/img/hack_ridge_logo_io_white.svg");
}
#email-list {
  margin: 0 auto;
  left: 10%;
  position: absolute;
  bottom: 20vh;
}
#email-list input {
  width: 60%;
  padding: 15px;
  border: none;
}
#email-list button {
  width: calc(20% - 30px);
  border-radius: 0;
  padding: 15px;
  border: none;
  margin-left: -4px;
  margin-top: -2px;
}
#about, #sponsors {
  background-image: url("/img/paper.png");
}
#faq {
  background-image: url("/img/background_blue.png");
  background-size: 300px;
  overflow: auto;
}
.faq-container-div {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.faq-container {
  width: 30%;
  height: 275px;
  padding: 20px;
  background: #eee;
  margin-top: 40px;
  border-left: 8px solid #111;
}
.btn-action {
  margin-top: 40px;
  padding: 15px;
  color: #fff !important;
  font-family: 'Poppins';
  background-color: #FB605B;
}
.btn-action:hover {
  background-color: #FB7C79;
}
