body {
  background-color: #eee;
}
section {
  padding: 40px;
}
/* -------------------------
---------- nav -------------
--------------------------*/
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px
}
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
nav a {
  color: #fff;
  font-family: 'Poppins';
  font-size: 1.5em;
  text-decoration: none !important;
}
nav a:hover {
  color: #ddd;
}

/* -------------------------
--------- headers ----------
--------------------------*/
.section-header {
  font-family: 'Poppins';
  font-size: 3em;
  padding: 0 15px;
  display: inline-block;
}
#about .section-header {
  box-shadow: 0 -0.45em 0 #db655d inset;
}
#sponsors .section-header {
  box-shadow: 0 -0.45em 0 rgba(78,150,226,255) inset;
}
#faq .section-header {
  text-align: left;
}

/* -------------------------
--------- landing ----------
--------------------------*/
.email-signup {
  display: flex;
  width: 60%;
}
.email-signup input {
  border-radius: 5px;
  border: 0;
  padding: 15px;
  box-shadow: inset 0 0 5px #222;
  flex: 1;
}
#intro {
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 10vh;
}
.logo-med {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: calc(50% - 150px);
}
.logo-white {
  background-image: url("/img/hack_ridge_logo_io_white.svg");
}
.logo-black {
  background-image: url("/img/hack_ridge_logo_io_white.svg");
}

/* -------------------------
--------- sections ---------
--------------------------*/
#about .copy {
  padding: 20px 0;
  line-height: 2em;
  text-align: justify;
}
#about, #sponsors {
  background-image: url("/img/paper.png");
}
#sponsors p {
  font-size: 1.5em;
  padding: 20px;
}
#sponsors a {
  box-shadow: 0 -0.5em 0 rgba(78,150,226,255) inset;
  color: #333;
  padding: 0 10px;
  text-decoration: none !important;
  cursor: pointer;
}
#sponsors a:first-child {
  box-shadow: 0 -0.5em 0 #db655d inset;
}
#faq {
  background-image: url("/img/background_blue.png");
  background-size: 300px;
  overflow: auto;
}
.faq-container-div {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.faq-container {
  width: 100%;
  min-height: 275px;
  padding: 20px;
  background: #eee;
  margin-top: 20px;
  border-left: 8px solid #111;
}
.btn-action {
  margin-top: 40px;
  width: 200px;
  padding: 15px;
  color: #fff !important;
  font-family: 'Poppins';
  background-color: #FB605B;
}
.btn-action:hover {
  background-color: #FB7C79;
}

footer p {
  color: #bbb;
  text-align: center;
}
footer {
  padding-bottom: 20px;
  background: url("/img/paper.png");
}

/* -------------------------
-------- desktop -----------
--------------------------*/
@media(min-width: 968px) {
  section {
    padding: 80px;
  }
  .email-signup {
    display: flex;
    width: 40%;
    margin-left: calc(30% + 25px);
  }
  .email-signup input {
    border-radius: 5px;
    border: 0;
    padding: 15px;
    box-shadow: inset 0 0 5px #222;
    flex: 1;
  }
  #about p {
    padding-left: 40px;
  }
  #about .copy {
    padding: 80px;
    line-height: 2em;
  }
  .faq-container {
    width: 30%;
    height: 275px;
    padding: 20px;
    background: #eee;
    margin-top: 40px;
    border-left: 8px solid #111;
  }
  .faq-container-div {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #sponsors p {
    padding: 20px 50px 0 50px;
  }
}
