/* ===== Intro Styles ===== */
body {
    background-color: #fff;
    color: #333;
}
.intro-body {
  height: 100vh;
  background: linear-gradient(rgba(229,153,146,0.8),rgba(229,153,146,0.8)), url("/img/optimized/busyhacking.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro {
  padding: 0 !important;
}
.map-overlay {
  width: 90%;
  height: 400px;
  position: absolute;
  z-index: 999;
  margin-left: 5%;
  background: none;
}
.card-content p {
  margin: 0;
}
#agenda table {
  width: 90%;
  margin-left: 5%;
}
#agenda td, #agenda th, #agenda h2, #agenda h4 {
  color: #333;
}
#agenda td, #agenda th, #agenda h4 {
  text-align: left;
}
#agenda h4 {
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 10px;
}
#agenda {
  padding: 50px 0;
  min-height: 96vh;
  background: #eee;
  width: 100%;
}
footer {
    background-color: #3E454C;
}
.logo {
  height: 40vh;
  width: auto;
}
.logo-container {
  position: relative;
  width: 100%;
}
#title, #date {
  position: absolute;
}
#title {
  text-align: center;
  margin-top: calc(28.4851vh - 0.85em);
  font-size: 2.5em !important;
  width: 100%;
  display: block;
}
#date {
  margin-top: 31.7858vh;
  font-size: 0.5em;
  text-align: center;
  width: 100%;
  display: block;
}

/* ===== Section Styles ===== */
#schedule, #team {
  display: none !important;
}
#promo, #about, #schedule, #faq, #location, #team, #sponsor, #contact, #countdown {
    width: 100%;
    color: #3E454C;
    padding: 20px;
    padding-top: 60px;
    background-color: #FFFFFF;
}
#about, #schedule, #location, #promo,  #faq, #team {
    height: 96vh;
    display: table;
}
#promo {
  background: #151719;
}
#about ,#schedule{
    padding-top: 200px;
}
#faq, #team, #contact {
    color: white;
}
#countdown {
    background-color: #151719;
    color: white;
    padding: 70px;
}
#faq {
  background: linear-gradient(rgba(132,208,253,0.5),rgba(132,208,253,0.5)), url("/img/optimized/hack20162.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#team { background-color: #A5E59C; }
#sponsor {
  /*background: linear-gradient(rgba(165,229,156,0.5),rgba(165,229,156,0.5)), url("/img/optimized/hack2016.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  background: #fff;
  color: #333;
}
#contact {
  background-color: #3E454C;
}
#about {
  background: url("/img/optimized/circuit-white.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#faq p{
    font-size: 18px;
}

/* ===== FAQ Styles ===== */
.card-header {
    padding: 20px 20px 0 20px;
    margin: 20px 0 0 0;
    color: #3E454C;
    background-color: #FFFFFF;
}
.card-content {
    color: #FFFFFF;
    border: 5px white solid;
    font-size: 20px;
    padding: 10px;
}
.btn-faq {
    font-size: 30px;
}
.btn-faq:hover,
.btn-faq:focus {
    color: #FF5454;
}

/* ===== Map Styles ===== */
#map {
    width: 1500px;
}

/* ===== Team Styles ===== */
.team-members {
    width: 100px;
}
.team-title {
    margin: 0;
    font-size: 20px;
}
.team-text {
    margin: 5px;
    font-size: 15px;
}

/* ===== Animation ====== */
.glow {
  width: 40%;
  height: 96vh;
  position: absolute;
  background: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0,0,0,0.2), rgba(0,0,0,0));
  /*background: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 241, 255, 1), rgba(0,0,0,0));*/
  z-index: -999;
  animation-name: marquee;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}
.glow-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -999;
}
@keyframes marquee {
  from {left: -40%;}
  to {left: 100%;}
}

/* === Sponsor Modal ==== */
.sponsor-logos {
  margin-bottom: 50px;
}
.sponsor-logos tr {
  width: 100%;
}
.sponsor-logos td {
  width: 25%;
  margin-left: 2.5%;
}
.sponsor-logos img {
  max-width: 80%;
  vertical-align: middle;
}
#email, .thankyou {
  position: fixed;
  top: 5vh;
  z-index: 9999;
  width: 90%;
  margin-left: 5%;
  padding: 30px 10px;
  background: #eee;
  opacity: 1;
}
#email p.ex {
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}
#more-info {
  padding: 0 2%;
  display: none;
}
#more-info p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0 5%;
}
div.bar {
  width: 90%;
  height: 5px;
  background: #333;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-top: 25px;
}
div.bar:not(:first-child) {
  margin-top: 25px;
}
.icon:first-child {
  margin-left: 5%;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
}

/* ===== Angular Animations ====*/
.fade.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  transition:1s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
.ang-slide-out-down.ng-leave {
  animation: slideOutDown;
  animation-duration: 1s;
}
.ang-slide-out-left.ng-leave {
  animation: slideOutLeft;
  animation-duration: 1s;
}
.ang-slide-out-right.ng-leave {
  animation: slideOutRight;
  animation-duration: 1s;
}
.ang-slide-in-right.ng-enter {
  animation: slideInRight;
  animation-duration: 1s;
}
.ang-slide-in-left.ng-enter {
  animation: slideInRight;
  animation-duration: 1s;
}

/* ==== Forms ====*/
.icon {
  width: 10%;
  float: left;
  margin-left: 10px;
}
#contactForm input, #contactForm textarea, #applyForm input, #applyForm textarea {
  border-radius: none;
  border: none;
  padding: 15px 10px;
  display: block;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
}
#contactForm input:focus, #contactForm textarea:focus, #applyForm input:focus, #applyForm textarea:focus {
  background: #75736F;
  color: #fff;
  transition: background 0.5s;
  transition-timing-function: ease-in;
}
#contactForm button {
  padding: 20px 100px;
  width: 100%;
  background: rgba(229,153,146,1);
  color: #fff;
}
#applyForm h2 {
  margin: 0;
  font-family: Open Sans;
  text-transform: none;
  font-size: 1em;
}
#applyForm option {
  color: #fff;
  border-radius: 0;
}
#applyForm {
  padding-top: 15vh;
}
#applyForm section {
  width: 100%;
}
#applyForm .btn {
  width: 90%;
  padding: 20px;
  margin-left: 5%;
  background: lightgrey;
}
#apply {
  overflow: auto;
  background: #3E454C;
}
h2.app-message {
  color: #fff;
  text-align: center;
  padding: 40vh 0;
}
h2.app-warnings {
  color: #E19D94;
  padding: 5px 0 !important;
}
#applyForm select {
  height: 50px;
}
#applyForm h4 {
  text-align: center;
  color: #ccc;
}
#applyForm label {
  color: #fff;
}
#applyForm input[type=checkbox], #applyForm input[type=radio] {
  width: auto !important;
}
#applyForm input[type=radio] {
  height: 20px;
}
.btn-join {
  background: rgba(238,238,238,1);
  border: 2px solid #333;
  border-radius: 5px;
  text-align: center;
  width: 20%;
  margin-left: 40%;
  color: #333;
  cursor: pointer !important;
}
.btn-join:hover {
  background: rgba(200,200,200,1);
}
.btn-apply {
  background: none;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px 40px;
  color: #333 !important;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px !important;
}
.thankyou, .overlay {
  display: none;
}
.thankyou {
  padding: 100px 0;
}
#applyForm label {
  line-height: 20px;
}
#applyForm h2 {
  color: #fff;
  padding: 20px 0;
}
.applyContainer {
  width: 60%;
  margin-left: 20%;
  overflow: auto;
  color: #fff;
}
.validation-msg {
  margin: 0;
  padding: 5px 0 !important;
}
.app-pagination {
  width: 100%;
  margin-top: 5vh;
  overflow: auto;
}
.app-pagination img {
  height: 10vh;
}
.app-pagination p {
  line-height: 10vh;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#agenda td, #agenda th {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input:focus::-webkit-input-placeholder {
color: #fff !important;
}
input:focus:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}
input:focus:-ms-input-placeholder {
color: #fff !important;
}
textarea:focus::-webkit-input-placeholder {
color: #fff !important;
}
textarea:focus:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}
textarea:focus::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}
textarea:focus:-ms-input-placeholder {
color: #fff !important;
}

/* ===== Mobile Styles ===== */
@media (min-width: 767px) {
  .content-ssection {
    padding: 50px 0;
  }
}
@media (min-width: 968px) {
  #agenda table {
    width: 60%;
    margin-left: 20%;
  }
  #agenda h4 {
    margin-left: 20%;
  }
  .logo {
    height: 60vh;
    width: auto;
  }
  #title {
    margin-top: calc(40.38vh - 0.65em);
    font-size: 3em !important;
    width: 100%;
    display: block;
  }
  #date {
    margin-top: 47.585vh;
    font-size: 1em;
    text-align: center;
    width: 100%;
    display: block;
  }
  #email {
    padding: 100px !important;
  }
  #more-info {
    display: block !important;
  }
  #applyForm h2 {
    font-size: 1em;
    padding: 20px 0;
  }
  #applyForm {
    padding: 100px;
  }
  #applyForm section {
    width: 60%;
    margin-left: 20%;
  }
  #applyForm select {
    height: 50px;
  }
  #applyForm .btn {
    width: 40%;
    padding: 20px;
    margin-top: 100px;
    margin-left: 30%;
  }
  #applyForm p {
    margin: 0;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: lightgrey;
    font-size: 1em;
  }
  #applyForm h4 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  #applyForm p {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .radio-align label{
    float: left;
    margin-left: 10%;
    display: block;
  }
  .radio-align h2 {
    float: left;
    padding: 0 !important;
    width: 50%;
    height: auto;
  }
  .radio-align {
    padding: 20px 0;
  }
  input[type=checkbox], input[type=radio] {
    height: auto;
  }
  .validation-msg {
    margin-left: 20% !important;
  }
  .app-pagination {
    width: 40%;
    margin-left: 30%;
    margin-top: 0;
    overflow: auto;
  }
  .app-pagination img {
    height: 10vh;
  }
  .app-pagination p {
    line-height: 10vh;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
