img(src='https://www.hackridge.io/img/op/header.jpg' style='width: 100%')

div(style='background-color: #eeeeee; padding: 20%')
  h2 Hey, #{name}!
  p Thanks for signing up for Hack Ridge. We have received your registration, and will keep you updated with new information!
  p Be sure to reach out to us at info@hackridge.io if you have any questions or concerns. Get hyped!!
